.tsvg-preview-control,
.tsvg-selector-block,
.tsvg-selector-block .components-placeholder__fieldset {
    align-items: center !important;
}
.tsvg-selector-block .components-placeholder__fieldset {
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-direction: column;
}
.tsvg-guttenberg-block {
    cursor: not-allowed;
}
.tsvg-guttenberg-block * {
    pointer-events: none;
}
.tsvg-select-block {
    padding-right: 2px;
    padding-left: 7px;
    margin-top: 8px;
    border-top: 1px solid #e2e4e7;
    border-bottom: 1px solid #e2e4e7;
    background-color: #fff;
    width: max-content;
}
.tsvg-select-block .components-select-control__input {
    padding: 0 24px 0 8px;
}
.tsvg-select-block .components-base-control__field {
    margin-bottom: 0;
    margin-top: 3px;
    margin-left: 4px;
}
